.body_background {
    background-image:url("bg1.jpg") ;
    background-position: center;
    background-size: cover;
}
h1{
    color:blue;
    font-size: 40px;

}
#myCanvas{
    border-width: 10px ;
    background-color: aquamarine;
    border-style: ridge;
}
span{
    font-size: 20px;
}